<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
      <link rel="icon" href="/img/weather-icon.png">
    <title>Help</title>
</head>
<body>
{{!-- rendering partials --}}
<div class="main-content">
    {{>header}} 
    <p>{{helpText}}</p>
</div>
        {{>footer}} 
</body>
</html> 